div{
    border: dodgerblue 2px solid;
    width: 400px;
    height: 400px;
    
}

#img1{
    position: absolute;
    left: 190px;
}

#img2{
    position: absolute;
    margin-top: 190px;
}

#img3{
    position: absolute;
    margin-top: 190px;
    left: 365px;
}